<!DOCTYPE html>
<html class="signHtml">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>패타그램 - 로그인</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/common.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body class="signBody">

  <!-- 컨텐츠 -->
  <div class="container text-center">
    <form class="form-login">
      
      <!-- 로고 -->
      <img class="mb-4" src="../../image/logo/lettering-dark.png" alt="" width="200">

      <!-- 메세지 -->
      <div class="checkbox mb-3 text-center mt-3">
        <label><b>김현수</b>님, 회원가입을 축하합니다.</label>
        <label>가입하신 아이디는 <b>root</b>입니다.</label>
      </div>

      <!-- 로그인 버튼 -->
      <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">로그인하기</button>
      <p class="mt-5 mb-3 text-muted">PENTAGRAM &copy; 2020</p>

    </form>
  </div>
  <!-- /. 컨텐츠 -->


  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
