<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>매장관리 - 등록</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/common.css" rel="stylesheet">

</head>

<body class="bg-light">

  <!-- 헤더 네비 (매장주 전용) -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- 로고 -->
      <a class="navbar-brand" href="#"><img src="../../image/logo/lettering-bright.png"></a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- 메인 네비 -->
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">공지사항</a></li>
          <li class="nav-item"><a class="nav-link" href="#">가격표</a></li>
          <li class="nav-item"><a class="nav-link" href="#">사진첩</a></li>
          <li class="nav-item"><a class="nav-link" href="#">애견용품</a></li>
          <!-- <li class="nav-item active"><a class="nav-link" href="#">예약하기</a></li> -->
        </ul>

        <!-- 회원 네비 -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#">홍길동님</a></li>
          <li class="nav-item"><a class="nav-link" href="#">매장관리</a></li>
          <li class="nav-item"><a class="nav-link" href="#">회원정보</a></li>
          <li class="nav-item"><a class="nav-link" href="#">로그아웃</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- 헤더 네비 (매장주 전용) -->

  <!-- 컨텐츠 헤더 -->
  <div class="jumbotron mb-5">
    <div class="container">
      <div class="row">
        <!-- 타이틀 -->
        <div class="col-md-4 text-left"><h2><b>매장 정보 등록</b></h2></div>
        <!-- 네비 -->
        <div class="col-md-8 text-right pt-2" style="font-size: 14px;">
          <a href="#">매장 정보</a>
          > 
          <a href="#">매장 등록</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /. 컨텐츠 헤더 -->
  
  <!-- 컨텐츠 -->
  <div class="container">
    
    <!-- 컨텐츠 내용 -->
    <div class="row">
      <!-- 좌측 네비 -->
      <div class="col-md-2 order-md-1 mb-4">
        <ul class="list-group mb-3 left-navi">
          <li class="list-group-item d-flex justify-content-between"><div><h6 class="my-0"><a href="#">매장 메인</a></h6></div></li>
          <li class="list-group-item d-flex justify-content-between bg-primary"><div><h6 class="my-0"><a href="#" class="text-light">매장 등록</a></h6></div></li>
          <li class="list-group-item d-flex justify-content-between"><div><h6 class="my-0"><a href="#">매장 수정</a></h6></div></li>
        </ul>
      </div>
      <!-- /. 좌측 네비 -->

      <!-- 컨텐츠 메인 -->
      <div class="col-md-10 order-md-2">

        <!-- 도메인 -->
        <div class="row mt-0 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">도메인</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-7 px-1"><input type="id" id="" name="" class="form-control" placeholder="도메인을 입력해주세요." autofocus></div>
          <div class="col-md-1 px-1"><button class="btn btn-primary btn-block px-0" type="button">중복확인</button></div>
          <div class="col-md-2"></div>
        </div>
        
        <!-- 매장명 -->
        <div class="row mt-3 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">매장명</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-7 px-1"><input type="id" id="" name="" class="form-control" placeholder="매장명을 입력해주세요."></div>
          <div class="col-md-1 px-1"><button class="btn btn-primary btn-block px-0" type="button">중복확인</button></div>
          <div class="col-md-2"></div>
        </div>
        
        <!-- 매장 설명 -->
        <div class="row mt-3 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">매장 설명</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><textarea class="form-control" rows="5" placeholder="매장 설명을 입력해 주세요."></textarea></div>
          <div class="col-md-2"></div>
        </div>
        
        <!-- 매장번호 -->
        <div class="row mt-3 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">매장번호</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><input type="id" id="" name="" class="form-control" placeholder="매장번호를 입력해주세요."></div>
          <div class="col-md-2"></div>
        </div>
        
        <!-- 매장주소 -->
        <div class="row mt-3 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">매장주소</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><input type="id" id="" name="" class="form-control" placeholder="매장주소를 입력해주세요."></div>
          <div class="col-md-2"></div>
        </div>
        
        <!-- 매장주 이메일 -->
        <div class="row mt-3 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">매장주 이메일</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><input type="id" id="" name="" class="form-control" placeholder="매장주 이메일을 입력해주세요."></div>
          <div class="col-md-2"></div>
        </div>
        
        <!-- 사업자번호 -->
        <div class="row mt-3 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">사업자번호</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><input type="id" id="" name="" class="form-control" placeholder="사업자번호를 하이픈(-) 없이 입력해주세요."></div>
          <div class="col-md-2"></div>
        </div>
        
        <!-- 매장 사진 -->
        <div class="row mt-3 text-left">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1"><label class="my-0 font-weight-bold">매장 사진</label></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-1 form-group"><input type="file" class="form-control-file" id="exampleFormControlFile1"></div>
          <div class="col-md-2"></div>
        </div>

        <!-- 컨텐츠 마무리 -->
        <div class="row mb-3">
          <div class="col-md-2"></div>
          <div class="col-md-8"><hr></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6"></div>
          <div class="col-md-2 mr-0"><a class="btn btn-primary btn-sm btn-block btn-example" href="#layer2" role="button">추 가</a></div>
          <div class="col-md-2 mr-0"><a class="btn btn-secondary btn-sm btn-block" href="#" role="button">취 소</a></div>
          <div class="col-md-2"></div>
        </div>
        <!-- /. 컨텐츠 마무리 -->
      </div>
      <!-- /. 컨텐츠 메인 -->

    </div>
    <!-- /. 컨텐츠 내용 -->

  </div>
  <!-- /. 컨텐츠 -->


  <!-- 풋터 -->
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 py-4 text-left text-white">
        <a class="navbar-brand" href="#"><img src="../../image/logo/lettering-bright.png"></a><br><br>
        <b>페타그램</b>&nbsp;&nbsp;&nbsp;서울특별시 서초구 서초대로 77길 13 401호<br>
        <b>대표이사</b> : 풀스택A팀&nbsp;&nbsp;&nbsp;<b>사업자등록번호</b> : 000-00-00000&nbsp;&nbsp;&nbsp;<b>고객센터</b> : 02-000-0000&nbsp;&nbsp;&nbsp;<b>이메일</b> : help@petagram.com
      </p>
    </div>
  </footer>
  <!-- /. 풋터 -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/common.js"></script>
</body>

</html>
