<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>매장 고객 (예약하기)</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Common CSS -->
  <link href="../../css/common.css" rel="stylesheet">

  <!-- Jquery Modal CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" rel="stylesheet">

</head> 

<body class="bg-light">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a>
      <!-- small display : menu button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- normal display : navigation list -->
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">예약하기</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">자랑하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">커뮤니티</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">고객센터</a>
          </li> -->
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.Navigation -->


  <!-- main -->
  <main role="main">

    <!-- 타이틀 -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="../../image/testimg.png" class="rounded-circle btn-block mt-4">
          </div>
          <div class="col-md-10">
            <h1 class="display-3 mt-4"><b>매장 이름</b></h1>
            <div class="mt-4">
              <a class="btn btn-secondary btn-lg" href="#" role="button">예약관리 &raquo;</a>
              <a class="btn btn-primary btn-lg" href="#" role="button">정보수정 &raquo;</a>
              <a class="btn btn-secondary btn-lg" href="#" role="button">페이지 관리 &raquo;</a>
              <!-- 토글 스위치 -->
              <div class="toggleWrap">
                <label class="switchTitle">검색 노출</label>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /. 타이틀 -->
  
    <!-- 컨텐츠 -->
    <div class="container">
      
      <!-- 컨텐츠 제목 -->
      <div class="row mb-3">
        <div class="col-md-12">
          <h2>예약 하기</h2><hr>
        </div>
      </div>
      <!-- /. 컨텐츠 제목 -->

      <!-- 컨텐츠 내용 -->
      <div class="row">
        <div class="col-md-1"></div>
        <!-- 캘린더, 시간 선택영역 -->
        <div class="col-md-3">
          <!-- 달력 -->
          <div class="row mb-5">
            <div class="col-md-12">
              <h5 class="mb-2"><b>날짜 선택</b></h5>
              <img src="../../image/testCal.png" class="btn-block">
            </div>
          </div>
          <!-- 시간표 -->
          <div class="row mb-3">
            <div class="col-md-12">
              <h5 class="mb-2"><b>시간 선택</b></h5>
              <table class="table table-sm text-center mb-5">
                <thead>
                  <tr><th scope="col">시 간</th><th scope="col">현 황</th><th scope="col">선 택</th></tr>
                </thead>
                <tbody>
                  <tr><th scope="row">08:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">09:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">10:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">11:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">12:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">13:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">14:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">15:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">16:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">17:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                  <tr><th scope="row">18:00</th><td>가능</td><td><input type="checkbox" aria-label="Checkbox for following text input"></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- 예약정보 입력영역 -->
        <div class="col-md-7">
          <form>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="row mb-2">
                  <div class="col-md-1"></div>
                  <div class="col-md-11">
                    <h5 class="mb-2"><b>상세 내용</b></h5>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-1"></div>
                  <div class="col-md-2"><h6><b>날  짜</b></h6></div>
                  <div class="col-md-9"><input type="text" id="" class="form-control" required readonly></div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-1"></div>
                  <div class="col-md-2"><h6><b>시  간</b></h6></div>
                  <div class="col-md-9"><input type="text" id="" class="form-control" required readonly></div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-1"></div>
                  <div class="col-md-2"><h6><b>고객명</b></h6></div>
                  <div class="col-md-9"><input type="text" id="" class="form-control" required autofocus></div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-1"></div>
                  <div class="col-md-2"><h6><b>연락처</b></h6></div>
                  <div class="col-md-9"><input type="text" id="" class="form-control" required></div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-1"></div>
                  <div class="col-md-2"><h6><b>펫선택</b></h6></div>
                  <div class="col-md-9 btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><label class="dropdownLbl">예약하실 펫을 선택하세요.</label></button>
                    <div class="dropdown-menu dropdown-menu-left">
                      <button class="dropdown-item" type="button">슈슈</button>
                      <button class="dropdown-item" type="button">제이</button>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-1"></div>
                  <div class="col-md-2"><h6><b>등록증</b></h6></div>
                  <div class="col-md-9"></div>
                </div>
              </div>
              
            </div>
          </form>
        </div>
      </div>
      <!-- /. 컨텐츠 내용 -->

      <div class="row mb-5">
        <div class="col-md-8"></div>
        <div class="col-md-2"><a class="btn btn-primary btn-sm btn-block" href="#" role="button">예 약</a></div>
        <div class="col-md-2"><a class="btn btn-secondary btn-sm btn-block" href="#" role="button">취 소</a></div>
      </div>
    </div>
    <!-- /. 컨텐츠 -->
  </main>



  <!-- Footer -->
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 text-left text-white">
        <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a><br><br>
        <b>페타그램</b>&nbsp;&nbsp;&nbsp;서울특별시 서초구 서초대로 77길 13 401호<br>
        <b>대표이사</b> : 풀스택A팀&nbsp;&nbsp;&nbsp;<b>사업자등록번호</b> : 000-00-00000&nbsp;&nbsp;&nbsp;<b>고객센터</b> : 02-000-0000&nbsp;&nbsp;&nbsp;<b>이메일</b> : help@petagram.com
      </p>
    </div>
  </footer>
  <!-- /.Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/score-star.js"></script>
  <script src="../../js/pop-up.js"></script>
</body>

</html>
