<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>패타그램 - 메인</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/common.css" rel="stylesheet">

</head> 

<body class="bg-light">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a>
      <!-- small display : menu button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- normal display : navigation list -->
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">예약하기</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">자랑하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">커뮤니티</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">고객센터</a>
          </li> -->
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.Navigation -->


  <!-- main -->
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><b>Shop Name</b></h1>
        <p><b>(Shop Introduce)</b> This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <div>
          <a class="btn btn-primary btn-lg" href="#" role="button">예약관리 &raquo;</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">정보수정 &raquo;</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">페이지 관리 &raquo;</a>
          <!-- toggle switch -->
          <div class="toggleWrap">
            <label class="switchTitle">검색 노출</label>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>캘린더</h2>
          <p>Calander API</p>
        </div>
        <div class="col-md-8">
          <h2>샵 이름</h2>
          <p>아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 아무말 대잔치 </p>
          <!-- 별표 점수매기기 -->
          <span class="star-input">
            <span class="input">
              <input type="radio" name="star-input" id="p1" value="1"><label for="p1">0.5</label>
              <input type="radio" name="star-input" id="p2" value="2"><label for="p2">1.0</label>
              <input type="radio" name="star-input" id="p3" value="3"><label for="p3">1.5</label>
              <input type="radio" name="star-input" id="p4" value="4"><label for="p4">2.0</label>
              <input type="radio" name="star-input" id="p5" value="5"><label for="p5">2.5</label>
              <input type="radio" name="star-input" id="p6" value="6"><label for="p6">3.0</label>
              <input type="radio" name="star-input" id="p7" value="7"><label for="p7">3.5</label>
              <input type="radio" name="star-input" id="p8" value="8"><label for="p8">4.0</label>
              <input type="radio" name="star-input" id="p9" value="9"><label for="p9">4.5</label>
              <input type="radio" name="star-input" id="p10" value="10"><label for="p10">5.0</label>
            </span>
            <output for="star-input"><b>0</b>점</output>
          </span>
          <!-- /. 별표 점수매기기 -->
          <h6 class="reviewTitle">리뷰 51개 | 1개월 | 3개월 | 6개월</h6>
          <p><a class="btn btn-secondary" href="#" role="button">예약설정 &raquo;</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>예약 내역</h2>
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">고 객 명</th>
                <th scope="col">날 짜</th>
                <th scope="col">시간대</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>홍길동</td>
                <td>2020년 08월 12일</td>
                <td>09:30 ~ 12:30</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>이순신</td>
                <td>2020년 08월 12일</td>
                <td>13:30 ~ 15:30</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>유관순</td>
                <td>2020년 08월 12일</td>
                <td>15:30 ~ 18:30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- /container -->
  
  </main>


  <!-- Page Content # 1 -->
  <!-- <div class="container">

  </div> -->
  <!-- /. Page Content # 1 -->


  <!-- Footer -->
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 text-left text-white">
        <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a><br><br>
        <b>페타그램</b>&nbsp;&nbsp;&nbsp;서울특별시 서초구 서초대로 77길 13 401호<br>
        <b>대표이사</b> : 풀스택A팀&nbsp;&nbsp;&nbsp;<b>사업자등록번호</b> : 000-00-00000&nbsp;&nbsp;&nbsp;<b>고객센터</b> : 02-000-0000&nbsp;&nbsp;&nbsp;<b>이메일</b> : help@petagram.com
      </p>
    </div>
  </footer>
  <!-- /.Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/shop-score-star.js"></script>
</body>

</html>
