<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>매장찾기 - 지도</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/common.css" rel="stylesheet">

</head>

<body class="bg-light">

  <!-- 헤더 네비 (매장주 전용) -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- 로고 -->
      <a class="navbar-brand" href="#"><img src="../../image/logo/lettering-bright.png"></a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- 메인 네비 -->
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">공지사항</a></li>
          <li class="nav-item"><a class="nav-link" href="#">가격표</a></li>
          <li class="nav-item"><a class="nav-link" href="#">사진첩</a></li>
          <li class="nav-item"><a class="nav-link" href="#">애견용품</a></li>
          <!-- <li class="nav-item active"><a class="nav-link" href="#">예약하기</a></li> -->
        </ul>

        <!-- 회원 네비 -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#">홍길동님</a></li>
          <li class="nav-item"><a class="nav-link" href="#">매장관리</a></li>
          <li class="nav-item"><a class="nav-link" href="#">회원정보</a></li>
          <li class="nav-item"><a class="nav-link" href="#">로그아웃</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- 헤더 네비 (매장주 전용) -->

  <!-- 컨텐츠 헤더 -->
  <div class="jumbotron mb-5">
    <div class="container">
      <div class="row">
        <!-- 타이틀 -->
        <div class="col-md-4 text-left"><h2><b>매장 찾기</b></h2></div>
        <!-- 네비 -->
        <div class="col-md-8 text-right pt-2" style="font-size: 14px;">
          <a href="#">매장 찾기</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /. 컨텐츠 헤더 -->
  
  <!-- 컨텐츠 -->
  <div class="container">
    
    <!-- 컨텐츠 내용 -->
    <div class="row">
      <!-- 좌측 네비 -->
      <div class="col-md-2 order-md-1 mb-4">
        <ul class="list-group mb-3 left-navi">
          <li class="list-group-item d-flex justify-content-between bg-primary"><div><h6 class="my-0"><a href="#" class="text-light">지도 찾기</a></h6></div></li>
          <li class="list-group-item d-flex justify-content-between"><div><h6 class="my-0"><a href="#">검색 찾기</a></h6></div></li>
        </ul>
      </div>
      <!-- /. 좌측 네비 -->

      <!-- 컨텐츠 메인 -->
      <div class="col-md-10 order-md-2">
        
        <!-- 지도 API -->
        <div class="row text-left">
          <!-- 지도 API 들어갈 부분 -->
          <div class="col-md-12"><img src="../../image/search-shop/shop_map.jpg" style="width: 100%;"></div>
        </div>
        <!-- /. 지도 API -->

        <hr class="my-5">
        
        <!-- 매장목록 반복문 돌릴구간 - 예시 1번 -->
        <div class="row my-4">
          <div class="col-md-1 px-3"><div class="rounded-circle bg-primary text-light text-center mx-2">A</div></div>
          <div class="col-md-6 pl-0">
            <h4 class="shopSearch-shopName mb-2"><a href="#">연희동 미미네</a></h4><br>
            <h6 class="mr-2">반려동물미용</h6>
            <h6 class="shopSearch-shopNum">010-1111-1111</h6><br>
            <h6 class="shopSearch-shopAddr">서울특별시 서대문구 연희로 22길 15-3 1층</h6>
            <!-- 별표 점수매기기 -->
            <span class="shopSearch-shopRating">
              <span class="input">
                <input type="radio" name="star-input" id="p1" value="0.5"><label for="p1">0.5</label>
                <input type="radio" name="star-input" id="p2" value="1.0"><label for="p2">1.0</label>
                <input type="radio" name="star-input" id="p3" value="1.5"><label for="p3">1.5</label>
                <input type="radio" name="star-input" id="p4" value="2.0"><label for="p4">2.0</label>
                <input type="radio" name="star-input" id="p5" value="2.5"><label for="p5">2.5</label>
                <input type="radio" name="star-input" id="p6" value="3.0"><label for="p6">3.0</label>
                <input type="radio" name="star-input" id="p7" value="3.5"><label for="p7">3.5</label>
                <input type="radio" name="star-input" id="p8" value="4.0"><label for="p8">4.0</label>
                <input type="radio" name="star-input" id="p9" value="4.5"><label for="p9">4.5</label>
                <input type="radio" name="star-input" id="p10" value="5.0"><label for="p10">5.0</label>
              </span>
              <output for="star-input"><b>0</b>점</output>
            </span>
            <!-- /. 별표 점수매기기 -->
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4"><img class="rounded" src="../../image/search-shop/shop_no1.jpg" style="width: 100%; height: 120px;"></div>
        </div>
        <!-- /. 매장목록 반복문 돌릴구간 - 예시 1번 -->

        <!-- 매장목록 반복문 돌릴구간 - 예시 2번 -->
        <div class="row my-4">
          <div class="col-md-1 px-3"><div class="rounded-circle bg-primary text-light text-center mx-2">B</div></div>
          <div class="col-md-6 pl-0">
            <h4 class="shopSearch-shopName mb-2"><a href="#">벨르아미</a></h4><br>
            <h6 class="mr-2">반려동물미용</h6>
            <h6 class="shopSearch-shopNum">010-2222-2222</h6><br>
            <h6 class="shopSearch-shopAddr">서울특별시 서대문구 연희로 195 1층</h6>
            <!-- 별표 점수매기기 -->
            <span class="shopSearch-shopRating">
              <span class="input">
                <input type="radio" name="star-input" id="p1" value="0.5"><label for="p1">0.5</label>
                <input type="radio" name="star-input" id="p2" value="1.0"><label for="p2">1.0</label>
                <input type="radio" name="star-input" id="p3" value="1.5"><label for="p3">1.5</label>
                <input type="radio" name="star-input" id="p4" value="2.0"><label for="p4">2.0</label>
                <input type="radio" name="star-input" id="p5" value="2.5"><label for="p5">2.5</label>
                <input type="radio" name="star-input" id="p6" value="3.0"><label for="p6">3.0</label>
                <input type="radio" name="star-input" id="p7" value="3.5"><label for="p7">3.5</label>
                <input type="radio" name="star-input" id="p8" value="4.0"><label for="p8">4.0</label>
                <input type="radio" name="star-input" id="p9" value="4.5"><label for="p9">4.5</label>
                <input type="radio" name="star-input" id="p10" value="5.0"><label for="p10">5.0</label>
              </span>
              <output for="star-input"><b>0</b>점</output>
            </span>
            <!-- /. 별표 점수매기기 -->
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4"><img class="rounded" src="../../image/search-shop/shop_no2.jpg" style="width: 100%; height: 120px;"></div>
        </div>
        <!-- /. 매장목록 반복문 돌릴구간 - 예시 2번 -->

        <!-- 매장목록 반복문 돌릴구간 - 예시 3번 -->
        <div class="row my-4">
          <div class="col-md-1 px-3"><div class="rounded-circle bg-primary text-light text-center mx-2">C</div></div>
          <div class="col-md-6 pl-0">
            <h4 class="shopSearch-shopName mb-2"><a href="#">다온펫뷰티살롱</a></h4><br>
            <h6 class="mr-2">반려동물미용</h6>
            <h6 class="shopSearch-shopNum">010-3333-3333</h6><br>
            <h6 class="shopSearch-shopAddr">서울특별시 마포구 신촌로14길 20 태인빌딩</h6>
            <!-- 별표 점수매기기 -->
            <span class="shopSearch-shopRating">
              <span class="input">
                <input type="radio" name="star-input" id="p1" value="0.5"><label for="p1">0.5</label>
                <input type="radio" name="star-input" id="p2" value="1.0"><label for="p2">1.0</label>
                <input type="radio" name="star-input" id="p3" value="1.5"><label for="p3">1.5</label>
                <input type="radio" name="star-input" id="p4" value="2.0"><label for="p4">2.0</label>
                <input type="radio" name="star-input" id="p5" value="2.5"><label for="p5">2.5</label>
                <input type="radio" name="star-input" id="p6" value="3.0"><label for="p6">3.0</label>
                <input type="radio" name="star-input" id="p7" value="3.5"><label for="p7">3.5</label>
                <input type="radio" name="star-input" id="p8" value="4.0"><label for="p8">4.0</label>
                <input type="radio" name="star-input" id="p9" value="4.5"><label for="p9">4.5</label>
                <input type="radio" name="star-input" id="p10" value="5.0"><label for="p10">5.0</label>
              </span>
              <output for="star-input"><b>0</b>점</output>
            </span>
            <!-- /. 별표 점수매기기 -->
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4"><img class="rounded" src="../../image/search-shop/shop_no3.jpg" style="width: 100%; height: 120px;"></div>
        </div>
        <!-- /. 매장목록 반복문 돌릴구간 - 예시 3번 -->

        <hr class="my-5">

      </div>
      <!-- /. 컨텐츠 메인 -->

    </div>
    <!-- /. 컨텐츠 내용 -->

  </div>
  <!-- /. 컨텐츠 -->


  <!-- 풋터 -->
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 py-4 text-left text-white">
        <a class="navbar-brand" href="#"><img src="../../image/logo/lettering-bright.png"></a><br><br>
        <b>페타그램</b>&nbsp;&nbsp;&nbsp;서울특별시 서초구 서초대로 77길 13 401호<br>
        <b>대표이사</b> : 풀스택A팀&nbsp;&nbsp;&nbsp;<b>사업자등록번호</b> : 000-00-00000&nbsp;&nbsp;&nbsp;<b>고객센터</b> : 02-000-0000&nbsp;&nbsp;&nbsp;<b>이메일</b> : help@petagram.com
      </p>
    </div>
  </footer>
  <!-- /. 풋터 -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/common.js"></script>
</body>

</html>
